<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:include="fragments/fragments :: head"></div>

    <body id="page-top">
        <!-- Navigation-->
        <div th:include="fragments/fragments :: navigation"></div>

        <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3">Share and Enjoy!</h1>
                            <p class="lead fw-normal text-muted mb-5">We are the primary manufacturer and supplier of androids, robots and autonomic assistants for the known universe.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="img/SiriusCyberneticsCorporation-Logo.jpg" class="img-fluid" alt="SCC Logo">
                    </div>
                </div>
            </div>
        </header>

        <!-- DISCLAIMER -->
        <section id="educational-disclaimer" class="text-center">
            <div class="fs-5"><i class="bi bi-exclamation-triangle"></i>&nbsp;This is a demo application for EDUCATIONAL PURPOSE only!&nbsp;<i class="bi bi-exclamation-triangle"></i></div>
        </section>

        <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 text-white mb-4">"A bunch of mindless jerks who'll be the first against the wall when the revolution comes."</div>
                        <a href="https://hitchhikers.fandom.com/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy_(travel_guide)"><img src="img/hitchhikers-guide.jpg" alt="The Hitchhiker's Guide to the Galaxy" style="height: 3rem"/></a>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Online Store section-->
        <section id="store">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                        <div class="container-fluid px-5">
                            <div class="row gx-5">
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Nutri-Matic Drink Synthesizer</h3>
                                        <p class="text-muted mb-0">The Nutrimatic Drinks Dispenser also known as the Nutrimat Machine and the Nutri-Matic Drinks Dispenser</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-camera icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Happy Vertical People Transporters</h3>
                                        <p class="text-muted mb-0">Happy Vertical People Transporters were the Sirius Cybernetics Corporation brand of lifts</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-5 mb-md-0">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Marvin</h3>
                                        <p class="text-muted mb-0">Marvin, more fully known as Marvin the Paranoid Android, is an incredibly brilliant but overwhelmingly depressed robot</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Colin the Security Robot</h3>
                                        <p class="text-muted mb-0">Colin the Security Robot, also known as Part #223219B</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-0">
                        <!-- store section logo -->
                        <div class="features-device-mockup">
                            <a href="/sccstore/store"><img src="/img/online-store-logo.jpg" class="img-fluid" alt="Online Store Logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Marketing section-->
        <section id="complaints" class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Share and Enjoy</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The Complaints Department is the only part of the company to still turn a profit and currently occupies all major land masses on three planets in the Sirius system.<br>
                            The Sirius Cybernerics Corporation Complaints department has recently been rebranded as the Sirius Cybernetics Corporation Customer Quality Prevention Division.</p>

                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-0"><a href="/sccstore/complaints"><img src="img/hapiness-is-overrated.jpg" alt="Complaints Departement" style="height: 300px"/></a></div>
                    </div>
                </div>
            </div>
        </section>

        
        <!-- Footer-->
        <div th:include="fragments/fragments :: footer"></div>
        
    </body>
</html>
