<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:include="fragments/fragments :: head"></div>

    <body id="page-top">
        <!-- Navigation-->
        <div th:include="fragments/fragments :: navigation"></div>

        <section id="shopping-cart">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                        <div class="container-fluid px-5">
                            <div>
                                <p></p>
                            </div>
                            <div>
                                <h3 class="card-title">Sirius Cybernetics Corporation - Shopping Cart</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer-->
        <div th:include="fragments/fragments :: footer"></div>
        
    </body>
</html>
